__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.duckdb
/dbt/target/
/dbt/dbt_packages/
/logs/*.log
/logs/raw_manifest.json
/data/bronze/*.parquet
/data/gold/exports/*.csv
/data/gold/report.html
/data/gold/kpi_summary.json
/data/raw/raw_manifest.json
/dbt/logs/
/dbt/.user.yml
/airflow/airflow.db
/airflow/airflow-webserver.pid
/airflow/logs/
/airflow/airflow.cfg
/airflow/webserver_config.py
